{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          <h3 class="masthead-subheading mb-0">{{ event.title }}</h3>
          <h5>Organized by: {{ event.owner|title }}</h5>
          {% if event.image %}
        <img src="{{ event.image.url }}" class="img-fluid card-img-top col-5 " alt="event picture">
        {% else %}
        <img src="{% static 'img/01.jpg' %}" class="card-img-top col-5" alt="default event picture">
        {% endif %}
          <p>Description:  {{ event.description }}</p>

          <p>Lovation:  {{ event.location }}</p>
          <p>Date:  {{ event.date }}</p>
          <p>Time:  {{ event.time }}</p>
          <p> Available seats:  {{event.get_seats_left}}</p>
          {% if request.user.is_authenticated%}
            {% if event.get_seats_left > 0 %}
              <a class="btn btn-primary mx-1" href="{% url 'event-book' event.id %}" role="button">Book</a>
            {% else %}
            <a class="btn btn-primary mx-1" href="#" role="button">Full</a>
            {% endif %}
            {% endif %}

          {% if request.user == event.owner %}
          <a class="btn btn-primary mx-1" href="{% url 'edit-event' event.id %}" role="button">Edit</a>
          {% endif %}

          {% if request.user == event.owner %}
          <div class="row justify-content-md-center">
            <div class="row mx-1 my-3">
              <table class="table table-hover table-dark text-center">
                <h3>Attendees:</h3>
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Seats Booked</th>
                  </tr>
                </thead>
                <tbody>
                {% for booking in event.bookings.all %}
                  <tr>
                    <td scope="row">{{ booking.owner }}</td>
                    <td scope="row">{{ booking.ticket }}</td>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
</div>

      </div>
    </div>
  </div>
</header>

{% endblock %}
