{% extends "base.html" %}
{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          <h2 class="masthead-subheading mb-0">Event Details</h2>
          <h4>{{ event.title }}</h4>
          <p>{{ event.description }}</p>
          <p>{{ event.location }}</p>
          <p>{{ event.date }} {{ event.time }}</p>
          {% if request.user == event.owner %}
          <a class="btn btn-primary mx-1" href="{% url 'edit-event' event.id %}" role="button">Edit</a>
          {% endif %}

      </div>
    </div>
  </div>
</header>

{% endblock %}
