{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="masthead text-center">
     <div class="d-flex justify-content-between mx-5">
       <div >
       <table class="table table-hover table-dark">
         <h3>My Events</h3>
         <thead>
           <tr>
             <th scope="col">Event Title</th>
             <th scope="col">Date</th>
             <th scope="col">Details</th>
           </tr>
         </thead>
         <tbody>
           {% for event in my_events %}

           <tr>
             <td scope="row">{{ event.title }}</td>
             <td scope="row">{{ event.date }} {{ event.time }}</td>
             <td scope="row"> <a href="{% url 'event-details' event.id %}"><input class = "btn btn-primary rounded-pill" type="submit" value="view"></a></td>
           </tr>
           {% endfor %}
           </tbody>
           </table>
       </div>
      <div class="card text-center">
      <div class="card-header">
      Profile
      </div>
      <div class="card-body">
      <h3 class="card-title">{{user.username}}</h3>
      {% if user.profile.image %}
      <img src="{{ user.profile.image.url }}" class="img-fluid card-img-top col-9 " alt="profile picture">
      {% else %}
      <img src="{% static 'img/01.jpg' %}" class="card-img-top col-5" alt="default profile picture">
      {% endif %}
      <p class="card-text">Name : {{user.first_name}}</p>
      <p class="card-text">Last Name : {{user.last_name}}</p>
      <p class="card-text">Bio : {{user.profile.bio}}</p>
      <p class="card-text">Email : {{user.email}}</p>

      {% if request.user == user %}
      <a href="{% url 'edit-profile' request.user.id %}">
      <input class="btn btn-warning rounded-pill mt-5 mb-3" type="submit" value="Edit profile">
      </a>
      {% endif %}

      </div>
      </div>

      </div>





</header>
{% endblock content %}
